#myCOUGARS {
    border: 1px solid black;
    background-color: brown;
    width: 270px;
    height: 200px;
    overflow: auto;
}

#myCOUGARS:hover {
    background-color: navy;
    width: 700px;
    height: 200px;
    /* padding: 100px; */
    border-radius: 50px;
}
