tr:hover{background-color:#f5f5f5}

.invalid input
{
    border-color:red;
}

.invalid::after
{
    content:"!";
    font-weight:bolder;
    color:red;
}

.button
{
    padding: 5px 15px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: mediumblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: dodgerblue}

.button:active
{
    background-color: mediumblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.smallbutton
{
    padding: 2px 5px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: mediumblue;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px #999;
}

.smallbutton:hover {background-color: dodgerblue}

.smallbutton:active
{
    background-color: mediumblue;
    box-shadow: 0 9px #666;
    transform: translateY(2px);
}
   
.automargin
{
    position:absolute;
    top:5%;
    left:25%;  
}
